# scala
*.class
*.log

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp

# Intellij
.idea

### VisualStudioCode ###
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

### Metals ###
.metals/
.bloop/
project/**/metals.sbt

Worker/output/unshuffled*
